.contents.row
  .container
    %h2 Sign up
    = form_with model: @adress, url: destinations_path, id: 'new_user', class: 'new_user', local: true do |f|
      = devise_error_messages!
      .field
        = f= f.collection_select :prefecture_id, Prefecture.all, :id, :name
        %em (在住の都道府県を洗濯してください)
      .actions
        = f.submit "Sign up"