.search-form {
  text-align: center;
  padding-top: 32px;
  .search-input {
    width: 30%;
    margin-right: 10px;
  }
  .search-btn {
    width: 10%;
  }  
}
.comments {
  padding: 5px;
  margin-top: 15px;
}

.comments a {
  color: #57C3E9;
}

.comments a:hover {
  text-decoration: underline;
}